body {
  margin: 0;
  font-family: Arial;
  background: #0b1220;
  color: white;
  transition: 0.3s;
}

.light {
  background: #f4f6f8;
  color: black;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.card {
  background: rgba(255,255,255,0.06);
  border-radius: 16px;
  padding: 20px;
  margin: 15px 0;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.01);
}

input {
  padding: 10px;
  width: 60%;
  border-radius: 10px;
  border: none;
}

button {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #38bdf8;
  margin-left: 10px;
}

button:hover {
  background: #0ea5e9;
}
